.addbox{
  display: flex;
  justify-content: center;
}
  .addform{
    margin: auto;
  }
    .formitem{
      width: 322px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }