.ant-input {
  width: 120px;
}
.ant-form-item {
  margin-bottom: 10px !important;
}
.del {
  color: #ff0000;
  background-color: rgba(245, 234, 234, 0.094);
}
.ant-table-pagination-right {
  justify-content: center !important;
}
.quest {
  height: 100%;
}
.TitColo {
  color: #4180f3;
  cursor: pointer;
}
.ant-card-bordered {
  border: none !important;
}
.ant-card-head-title {
  color: #4180f3;
}
