@font-face {
  font-family: 'iconfont';
  /* Project id 2874147 */
  src: url('./iconfont.woff2') format('woff2'),
    url('./iconfont.woff') format('woff'),
    url('./iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-24gl-phoneLoudspeaker:before {
  content: '\e94f';
}

.icon-jiahao:before {
  content: '\e726';
}

.icon-biaoqing:before {
  content: '\e60b';
}

.icon-ellipsis2:before {
  content: '\e701';
}

.icon-touxiang1:before {
  content: '\e640';
}

.icon-yuyin:before {
  content: '\e68d';
}

.icon-touxiang:before {
  content: '\e655';
}

.icon-morentouxiang:before {
  content: '\e616';
}

.icon-mingpian:before {
  content: '\e607';
}

.icon-tongxingbie:before {
  content: '\e619';
}

.icon-htmal5icon08:before {
  content: '\e624';
}

.icon-htmal5icon09:before {
  content: '\e625';
}

.icon-qingchuhuancun:before {
  content: '\e7c0';
}

.icon-shouji1:before {
  content: '\e692';
}

.icon-renzheng:before {
  content: '\e63f';
}

.icon-password:before {
  content: '\e604';
}

.icon-shezhi:before {
  content: '\e8b8';
  font-size: 18px;
  color: #727e97;
}


.icon-jiuyexieyi:before {
  content: '\e60a';
}

.icon-icon-test:before {
  content: '\e62f';
}

.icon-dacha:before {
  content: '\e711';
}

.icon-xiangji1:before {
  content: '\e8bd';
}

.icon-feiyongguanli:before {
  content: '\e69a';
}

.icon-jiatingxinxi:before {
  content: '\e75e';
}

.icon-tubiao_zhifu_zhifubaozhifu:before {
  content: '\e68f';
}

.icon-yongchegongche:before {
  content: '\e684';
}

.icon-shouye:before {
  content: '\e62a';
  color: #727e97;
}
.icon-shouye1:before {
  content: '\e62a';
  color: #4180f3;
}
.icon-banben:before {
  content: '\e637';
}

.icon-a-ziyuan18:before {
  content: '\e615';
}

.icon-a-yinsibaohuyanzhengma:before {
  content: '\e6b1';
}

.icon-arrow-right:before {
  content: '\e622';
}

.icon-xiangxiajiantou:before {
  content: '\e7c3';
}

.icon-fanhuijiantou:before {
  content: '\e8b5';
}

.icon-xiangji:before {
  content: '\e614';
}

.icon-shixinjiantou-xiangshang-copy:before {
  content: '\e65a';
}

.icon-dianhua:before {
  content: '\e600';
}

.icon-sousuo:before {
  content: '\e601';
}

.icon-friends:before {
  content: '\e644';
}

.icon-31xuanzhong:before {
  content: '\e602';
}

.icon-guolv:before {
  content: '\e634';
}

.icon-fenxiangfasong:before {
  content: '\e638';
}

.icon-qitafeiyong:before {
  content: '\e629';
  font-size: 30px;
  color: #727e97;
}

.icon-icon_duihao-mian:before {
  content: '\e63d';
}

.icon-dianzan_kuai:before {
  content: '\ec8c';
}

.icon-weixuanzhong:before {
  content: '\e8bb';
}

.icon-dizhi:before {
  content: '\e613';
}

.icon-zantingyingyeshijian:before {
  content: '\e63e';
}

.icon-tupian:before {
  content: '\e7ff';
  font-size: 30px;
  color: #727e97;
}

.icon-tuichu1:before {
  content: '\e612';
  font-size: 18px;
}

.icon-jurassic_role:before {
  content: '\e6a1';
}

.icon-mendian:before {
  content: '\e62e';
  font-size: 30px;
  color: #727e97;
}

.icon-jiaoseguanli:before {
  content: '\e609';
}

.icon-guanliyuan1:before {
  content: '\e651';
}

.icon-caidanlanwode:before {
  content: '\e696';
}

.icon-xiaoxi:before {
  content: '\e67a';
}

.icon-dkw_xiaoxi:before {
  content: '\e606';
}

.icon-zhuye:before {
  content: '\e627';
}

.icon-shangdian-:before {
  content: '\e60f';
}

.icon-gonggao:before {
  content: '\e8c4';
  font-size: 30px;
  color: #727e97;
}

.icon-shouye-shouye:before {
  content: '\e608';
}

.icon-qiyeguanli_yuangongguanli:before {
  content: '\e62c';
  font-size: 30px;
  color: #727e97;
}

.icon-wodefangwu:before {
  content: '\e610';
}

.icon-renshu:before {
  content: '\e611';
  font-size: 30px;
  color: #727e97;
}

.icon-tuichu:before {
  content: '\e60e';
}

.icon-wuyeguanli:before {
  content: '\e6dd';
  font-size: 40px;
  color: #727e97;
}

.icon-xitong:before {
  content: '\e621';
}

.icon-loupanshuju:before {
  content: '\e62d';
}

.icon-tousujianyi:before {
  content: '\e6f0';
}

.icon-complain:before {
  content: '\ebbc';
  font-size: 30px;
  color: #727e97;
}
