/* .site-card-border-less-wrapper {
  padding: 30px;
  background: #ececec;
  height: 100vh;
} */

.ant-card {
  box-shadow: 0 0 8px 3px rgb(0 0 0 / 3%);
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -225px !important; 
  margin-top: -170px !important;
}
