.ant-layout.ant-layout-has-sider {
  top: 49px;
  left: 0;
  width: 100%;
  height: 100vh;
}
.ant-layout-sider {
  background-color: #f4f4f4;
}
.ant-layout.ant-layout-has-sider > .ant-layout,
.ant-layout.ant-layout-has-sider > .ant-layout-content {
  padding: 24px;
  background-color: #ffff;
}
.ant-layout-header {
  height: 49px !important;
  border: 1px solid #e5e5e5;
  background-color: #f4f4f4;
  line-height: 0 !important;
  padding: 0 25px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerLeft {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.headerLeftImg {
  margin-right: 30px;
}
.headerLeftHome {
  display: flex;
  align-items: center;
}
.show {
  color: #4180f3;
}
.name {
  color: #767676;
}
.headerRight {
  height: 100%;
  line-height: 49px;
  display: flex;
  align-items: center;
}

.setup {
  margin-right: 80px;
  display: flex;
  align-items: center;
}
.goLogin {
  display: flex;
  align-items: center;
}
.lis {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  border-left: 3px solid #ffffff;
}
.list {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  color: #4180f3;
  border-left: 3px solid #4180f3;
  margin-top: 10px;
}
.list > ::before {
  color: #4180f3 !important;
}
.spanme {
  display: block;
  height: 20px !important;
}
.colorCuir {
  color: #4180f3;
  cursor: pointer;
}
.home {
  height: 100% !important;
}
.ant-layout {
  height: 100% !important;
}

.nav {
  position: fixed;
  top: 49px;
  left: 0;
  width: 95px;
  text-align: center;
  height: 100%;
  overflow-y: auto;
  
}
.nav::-webkit-scrollbar {  overflow-y: scroll; }
.heaeer {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}
.ant-layout.ant-layout-has-sider > .ant-layout,
.ant-layout.ant-layout-has-sider > .ant-layout-content {
  margin-top: 40px !important;
}
