.header{
  padding: 0 10px;  
  height: 50px;
  margin-bottom: 30px;
  color: #427ff4;
  margin-right: 20px;
  font-size: 16px;
}
.select{
  border-radius: 5px;
  width: 100px;
  height: 40px;
}
.selecta{
  margin-left: 10px;
  border-radius: 5px;
}
.grren{
  background-color: #85ce61 !important;
  border: none;
}
.ant-form-item{
  margin-bottom: 20px !important;
}
.span span{
  margin-right: 14%;
  display: flex;
}
.align{
  text-align: center;
}
.img{
  display:inline-block;
  padding-right: 15px;
}
.modaltop{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.modaltop img{
  width: 65px;
  height: 60px;
  border-radius:5px;
}
.modalspan{
  margin-left: 20px;
  font-size: 20px;
}
.modalsize{
  color: #aaa;
  padding-top: 10px;
  font-size: 18px;
  margin-right:20px ;
}
.modaltime{
  color: #333;
  font-size: 17px;
  margin-bottom: 20px;
}
.modalright{
  margin-right: 40px;
  color: #333;
  font-size: 16px;

}
.modalleft{
  margin-left: 30px;
  font-size: 16px;
  
}
.pad{
  height: 160px;
  width: 100%;
  text-align: center;
  line-height: 160px;
}
.ant-modal-content{
  border: 1px solid #333 !important;
}
.textsize{
  text-indent: 2em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  color: #333;
  font-size: 19px;

}
.flex{
  display: flex;
  justify-content: space-between;
}
.ant-form-item-label>label{
  width: 80px;
}
.ant-col-8 {
  flex: 0 0 20.33333333% !important;
}